/* For import the CSS styles */
@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

:root {
    /* To create a variable */
    --color-green: #50fa7b;
}

/* Remove the agent stylesheet of navegator */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header div {
    text-align: center;
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.links a:hover {
    color: var(--color-green);
    transition: color 400ms;
}

#wrapper {
    margin-top: 30px;
    text-align: center;
}

#box-cea {
    display: flex;
    flex: 1;
}

#img-cea {
    border-radius: 10px;
    margin: 30px;
    max-width: 500px;
}

.ceaInfo {
    margin: 30px 0;
    display: inline;
}

.ceaInfo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.ceaInfo a:hover {
    color: var(--color-green);
    transition: color 400ms;
}

.ceaInfo h1 {
    margin: 30px 0;
    height: 10px;
}


#wrapper img {
    border-radius: 50%; /* For circle */
    border: 5px solid var(--color-green);
    margin-bottom: 30px;
    height: 300px;
}

#wrapper h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

#container{
    text-align: center;
    display: inline;
}

#container box-1{
    text-align: center;
}

#wrapper h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    opacity: 0.8;
}

#wrapper h2 a{
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    opacity: 0.8;
    color: var(--color-green);
}

#wrapper p {
    font-size: 25px;
    font-weight: bold;
    max-width: 300px;
    margin: 20px auto;
}

#wrapper a {
    text-decoration: none;
    color: white;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

.anime-top {
    opacity: 0;
    transform: translate3d(0,-200px,0);
    transition: 3s;
  }
  
  .anime-bottom {
    opacity: 0;
    transform: translate3d(0,200px,0);
    transition: 3s;
  }
  
  .anime-right {
    opacity: 0;
    transform: translate3d(200px,0,0);
    transition: 2s;
  }
  
  .anime-left {
    opacity: 0;
    transform: translate3d(-200px,0,0);
    transition: 2s;
  }
  
  .anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
  }


